{% extends "base.html" %}
{% load bootstrap3 %}
{% load comments %}
{% block title %}Wall{% endblock %}

{% block content %}
<div class="container">
  <div class="col-sm-offset-3 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="{% url 'user_wall' post.author.id %}">
          <strong>{{post.author.username}} </strong>
        </a> -> 
        <a href="{% url 'user_wall' post.receiver.id %}">
        <strong>{{post.receiver.username}}</strong>
        </a>
      </div>
      <div class="panel-body">
        {{post.content}}
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-sm-offset-3 col-sm-6">
    {% render_comment_list for post %}
  </div>
</div>
<div class="container">
  <div class="col-sm-offset-3 col-sm-6">
	{% render_comment_form for post %}
  </div>
</div>
{% endblock %}
